{{!-- <div class="container">
  <div class="topnav" id="myTopnav">
    <a href="/">
      <img src="/images/brand.png">
    </a>
    <a href="/about">How it works</a>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 </div> --}}
 <div class="container">
    <div class="jumbotron">
      <h1>Build SMARTer habits.</h1>
      <p>Work smarter, not harder to develop new habits.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="/signup" role="button">Get started &raquo;</a>
      </p>
    </div>    
     <div>
      <img src="/images/habit1.png" width="623px">
    </div>
 </div>




