<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <div class="container">
  <div class="topnav" id="myTopnav">
    <a href="/">
      <img src="/images/brand.png">
    </a>
    <a href="/about">How it works</a>
    {{#if currentUser}}
      <a href="/habits">Habits</a>
      <a href="/habits/add">Add</a>
      <a href="/logout">Log out</a>
    {{else}}
      <a href="/login">Log in</a>
      <a href="/signup">Sign up</a>
    {{/if}}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 </div>

  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>